
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.container {
    width: 1000px;
    margin: 0 auto;
}

.header {
    color: black;
    text-align: center;
    padding: 40px 0;
}

.header-title {
    font-size: 42px;
    margin-bottom: 15px;
}

.header-text {
    font-size: 20px;
}

.nav-list {
    display: flex;
    justify-content: center;
    gap: 40px;
    list-style: none;
}

.nav-list-link {
    color: black;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}

.main {
    padding: 40px 0;
}

.card {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    margin-bottom: 30px;
}


.card-text {
    font-size: 18px;
}

.project-card {
    background-color: #eef4ff;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
}

.project-title {
    margin-bottom: 10px;
}
.box {
    width: 350px;
    height: 220px;

    padding-top: 15px;
    padding-left: 10px;
    padding-bottom: 20px;
    padding-right: 10px;

    margin-bottom: 30px;
    border: 2px dashed red;
    background-color: green;

    color: white;
}
:root{
    --mainColor:#7d7d7d;
    --mainHover:#03a9f4;
}
a:hover{
    color: var(--mainHover)
}